@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">KREEMO</h1>
    <img src="~/Imagenes/kreemo.jpg" width="200" height="200">
    <p><i class="far fa-copyright"></i>Kreemo Solution System </p>

</div>

<div class="text-center">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark btn btn-outline-success" asp-area="" asp-controller="Empleados" asp-action="Index"><i class="fas fa-id-card"></i>Empleados</a>
        </li>
        <br />
        <li class="nav-item">
            <a class="nav-link text-dark btn btn-outline-success" asp-area="" asp-controller="CargoEmpleado" asp-action="Index"><i class="fas fa-users"></i>Cargos</a>
        </li>
    </ul>
</div>

