@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div class="text-center">
    &copy; 2020 - KREEMO - <a> GIVER CIFUENTES - CAROLINA NICHOLLS - LUISA ZABALA - OLMEIRO OROZCO - JUAN FELIPE GARCIA - ADSI </a>
</div>
