@model CRUDSinInyeccionASP.Models.Entities.CargoEmpleado

@{
    ViewData["Title"] = "Crear Cargo";
}

<h1>Crear - Modificar</h1>

<h4>Cargo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CrearEditarCargo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCargo" />
            <div class="form-group">
                <label asp-for="Cargo" class="control-label"></label>
                <input asp-for="Cargo" class="form-control" />
                <span asp-validation-for="Cargo" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <button type="submit" value="Aceptar" class="btn btn-primary btn-block">
                        <i class="fas fa-check"></i> Aceptar
                    </button>
                </div>
                <div>
                    <a asp-action="Index" class="btn btn-secondary btn-block"><i class="fas fa-backspace"></i>Volver</a>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
